<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramSignin2</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <ul>
        <% user_id=session["user_id"] %>
        <% if user_id.present? %>
          <li><a href="/user_sign_out">Sign Out</a></li>
        <% else %>
          <li><a href="/user_sign_in">Sign In</a></li>
          <li><a href="/user_sign_up">Sign Up</a></li>
        <% end %>
        <li><a href="/users">Users</a></li>
        <li><a href="/photos">Photos</a></li>
        <% if user_id.present? %>
          <li><%= session["user_id"] %></li>
        <% end %>
      </ul>
    </nav>
    <!-- to display notices and alerts at the top of the page 9after the nav  whenever there are any -->
    <% if notice.present? %> <!--present checks for not nil and not populated with only spaces-->
      <div style="border:thin green solid; color: green"><%= notice %></div> 
    <% end %>

    <% if alert.present? %> <!--present checks for not nil and not populated with only spaces-->
      <div style="border:thin red solid; color: red"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
